.Container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px 40px;
  padding: 0 80px 80px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
