.Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 40px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.Container p {
  color: #fff;
  margin: 0;
}

.Container .Time {
  font-size: 26px;
  font-weight: bold;
}

.Container .Month {
  font-size: 16px;
}

.PhotoDetails {
  color: #fff;
  font-size: 15px;
}

.PhotoDetails a {
  color: #fff;
  text-decoration: none;
}

.PhotoDetails a:hover {
  text-decoration: underline;
}
