.Container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  visibility: hidden;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
}

.Modal {
  position: relative;
  width: 80vw;
  height: 80vh;
  background: #fff;
  padding: 50px;
  overflow-y: hidden;
  visibility: hidden;
}

.Header {
  position: relative;
  display: flex;
  align-items: center;
}

.Divider {
  position: relative;
  width: 3px;
  height: 50px;
  background-color: #4b84fc;
  margin-right: 15px;
}

.Title {
  margin: 0;
}

.Footer {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
}

.ColorPicker {
  position: absolute;
  left: 220px;
}
