.Container {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: all 750ms;
}

.Image {
  width: 100vw;
  height: 100vh;
}
