.Container {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vw;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.Background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(15px);
  transform: scale(1.1);
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: all 750ms;
}
